<h1>All Artists</h1>
<ul class="artist_list">
  <% @artists.each do |artist| %>
    <li>
      <%= link_to "Link to view #{artist.name}", artist_path(artist.id) %>
    </li>
    <% end %>
</ul>
<%= link_to "New artist", new_artist_path %>
